<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <p>&copy;2017</p>
            </div>
        </div>
    </div>
</footer>
<script src="web/js/jquery.min.js"></script>
<script src="web/js/bootstrap.bundle.min.js"></script>
<script src="web/js/bootstrap.min.js"></script>
</body>
</html>